
/Schapp/bin
[Oo]bj/
[Bb]in/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
/Schapp/obj/Debug/Schapp.csproj.FileListAbsolute.txt
/schapp/obj/debug/Schapp.dll
/schapp/obj/debug/Schapp.pdb
/Schapp/obj/Debug/Schapp.dll
/schapp/obj/debug/Schapp.pdb
/schapp/obj/debug/Schapp.pdb
/Schapp/obj/Debug/Schapp.pdb
/Schapp.sln
/Schapp/obj/Debug/ResolveAssemblyReference.cache