



*.suo
*.user
/TestResults
*.vspscc
*.vssscc
obj

_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
/schapp/obj/Debug/schapp.csproj.FileListAbsolute.txt
/schapp/obj/debug/schapp.dll
/schapp/obj/debug/schapp.pdb
/schapp/obj/Debug/schapp.dll
/schapp/obj/debug/schapp.pdb
/schapp/obj/debug/schapp.pdb
/schapp/obj/Debug/schapp.pdb

/schapp/obj/Debug/ResolveAssemblyReference.cache